* {
    padding:0;
    margin:0;
}
.play{
    display:flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-top:5rem;
}
ul,ol,dl {
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}
body{
    background-color:#37cef0;
}
/* block style */
.square{
    background-color: #8a2be2;
}
.tree{
    background-color: #93c942;
}
.elRight{
    background-color: #6363f1;
}
.elLeft{
    background-color: #fca32e;
}
.bar{
    background-color: #d22738;
}
.zeeLeft{
    background-color: #f0f037;
}
.zeeRight{
    background-color: #37cef0;
}
.score{
    font-size: 3rem;
    text-align: center;
    
}