@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    padding:0;
    margin:0;
    font-family: 'CookieRun-Regular';
}

ul,ol,dl {
    list-style-type:none;
}
a{
    text-decoration: none;
    color:inherit;
}
iframe{
    border:none;
}
/* block style */
.square{
    background-color: #8a2be2;
}
.tree{
    background-color: #93c942;
}
.elRight{
    background-color: #6363f1;
}
.elLeft{
    background-color: #fca32e;
}
.bar{
    background-color: #d22738;
}
.zeeLeft{
    background-color: #f0f037;
}
.zeeRight{
    background-color: #23d7ff;

}
.score{
    font-size: 3rem;
    text-align: center;
    border-bottom:1px solid #000;
    
}